<widget 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:gap="http://phonegap.com/ns/1.0" 
  id="com.bekymringsmestring" 
  version="1.0.0">

  <name>WorryCure</name>
  <description>Bekyrmingsmestring flowchart</description>
  <author href="http://joensen.eu" email="andreas@joensen.eu">Andreas Joensen</author>
  <content src="index.html"/>

  <plugin name="cordova-plugin-whitelist" spec="1.2.1" />
  <plugin name="cordova-plugin-statusbar" source="npm" />

  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>

  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarBackgroundColor" value="#000000" />
  

  <!-- iPhone 6 / 6+ -->



  <access origin="*"/>  
 
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>

  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>