<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bekymringsmestring" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>WorryCure2</name>
    <description>Bekyrmingsmestring flowchart</description>
    <author email="andreas@joensen.eu" href="http://joensen.eu">Andreas Joensen</author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <plugin name="cordova-plugin-whitelist" spec="1.2.1" />
    <plugin name="cordova-plugin-statusbar" spec="2.1.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.2.0" />
    <access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon height="180" platform="ios" src="icon-60@3x.png" width="180" />
    <icon height="60" platform="ios" src="icon-60.png" width="60" />
    <icon height="120" platform="ios" src="icon-60@2x.png" width="120" />
    <icon height="76" platform="ios" src="icon-76.png" width="76" />
    <icon height="152" platform="ios" src="icon-76@2x.png" width="152" />
    <icon height="29" platform="ios" src="icon-small.png" width="29" />
    <icon height="58" platform="ios" src="icon-small@2x.png" width="58" />
    <icon height="40" platform="ios" src="icon-40.png" width="40" />
    <icon height="80" platform="ios" src="icon-40@2x.png" width="80" />
    <icon height="57" platform="ios" src="icon.png" width="57" />
    <icon height="114" platform="ios" src="icon@2x.png" width="114" />
    <icon height="72" platform="ios" src="icon-72.png" width="72" />
    <icon height="144" platform="ios" src="icon-72@2x.png" width="144" />
    <icon height="50" platform="ios" src="icon-50.png" width="50" />
    <icon height="100" platform="ios" src="icon-50@2x.png" width="100" />
    <engine name="ios" spec="~3.9.2" />
</widget>
